h1{
  text-align: center;
  color: white;
  padding-bottom: 20px;
}

.App{
  /* background-color: blueviolet; */
  /* background-color: #6C7A89; */
  background-color: #928490;
  min-height: 100vh;
  padding-top: 70px;
  padding-bottom: 50px;
}

.todo-wrapper{
  margin: auto;
  padding: 50px ;
  background-color: #433E49;
  border-radius: 5px;
}

.todo-form{
  display: flex;
  flex-flow: row;
  margin-top: 35px;
}

.todo-input{
  width: 85%;
  border-radius: 3px;
  border: 1px solid white;
  padding: 5px;
}

.todo-submit{
  border: 1px solid #928490;
  background-color: #928490;
  padding: 6px;
  color: white;
  border-radius: 3px;
  width: 20%;
}

.todo{
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  padding: 15px 10px 0px 10px;
  border-radius: 3px;
  color: white;
  background-color: #928490;
}

.todo p:hover {
  cursor: pointer;
}

i{
  margin-right: 10px;
}

i:hover{
  cursor: pointer;
}

.completed{
  text-decoration: line-through;
}